<?php

//PARAMETRE A MODIFIER

$module_connection=1 ; // permet de désactivé les fonctionalités de connexion mettre à 0 pour désactivé (cas ldap par exemple)

$bdd_password='motdepasse'; // mot de passe de la base
$bdd_name='nonbasededonnedolibarr'; //nom de la base de donnée dolibarr
$domaine='localhost';// adresse du serveur de base de donnée
$port='3306' ; //port du serveur de base de donnée
$bdd_utilisateur='nondutilisateursql'; //nom de l'utilisateur de la base de donnee dolibarr


// FIN DES PARAMETREs A MODIFIER

?>
